
  <div class="col-xs-6">
    <i class="fa fa-address-book" aria-hidden="true"></i><%= link_to "プロフィール編集", edit_user_path%></br>
    <div>
      <%= image_tag @user.image.url(:middle), class: "img-circle img-center" %>
    </div>  
  </div>

  <div class="col-xs-6 mypage-box">
    <dl>
      <dt>ユーザーネーム</dt>
      <dd><%= @user.user_name %></dd>
    </dl>
    <dl>
      <dt>自己紹介</dt>
      <dd><%= @user.introduction %></dd>
    </dl>
    <dl>
      <dt>性別</dt>
      <dd><%= @user.gender %></dd>
    </dl>
    <dl>
      <dt>地域</dt>
      <dd><%= @user.area %></dd>
    </dl>
    <dl>
      <dt>趣味</dt>
      <dd><%= @user.favorite %></dd>
    </dl>
    <dl>
      <dt>職業</dt>
      <dd><%= @user.work %></dd>
    </dl>
  </div>

  <h4>>>@user.user_nameさんの投稿</h4>
  <div>
  <% @free_posts.each do |f| %>
  <%= render partial: "free_posts/free_post_display", locals: {f: f} %>
  <% end %>
  </div>
