<% start_time = f.start_time.to_s.gsub(":00 +0900", "") %>
<% end_time = f.end_time.to_s.gsub(":00 +0900", "") %>

<div class="col-xs-6 index-box">
  <div class="col-xs-3">
    <%= link_to image_tag(f.user.image.url(:thumb), class: "img-circle"), user_path(f.user) %>
  </div>
  <div class="col-xs-9">
    <%= start_time %> ~ <%= end_time %></br>
    <%= f.place %></br>
    <p class="index-detail"><%= f.detail %><p>
    <%= f.user.user_name %></br>
  
    <%= link_to '詳細', free_post_path(f.id), method: :get %>
  </div>
</div>



