<%= @free_post.start_time %> ~ <%= @free_post.end_time %></br>
<%= @free_post.place %></br>
<%= @free_post.detail %></br>
<%= @free_post.user.user_name %></br>
<div id="map"></div>



<% if user_signed_in? %>
    <div class="form-group">
      <%= form_tag("/free_posts/#{@free_post.id}/comments", method: :post) do |comments| %>
        <div class="line-break comment-field"><%= text_area_tag :text, "", rows: "4", maxlength: 200, required: true %></div>
        <%= submit_tag "コメントを投稿", class: "btn btn-warning"%>
      <% end %>
    </div>
  <% end %>


 <% if @comments %>
    <% @comments.each do |comment| %>
      <div class="each-comment line-break">
      <p><%= simple_format(comment.text) %></p>
      <p class="gray-text comment-foot"><%= link_to comment.user.user_name, user_path(comment.user) %>
      <%= comment.created_at %></p>
      </div>
    <% end %>
  <% end %>


<script>
console.log(gon.lat_position_js, gon.lng_position_js);
gon.lat_position_js = +gon.lat_position_js;
gon.lng_position_js = +gon.lng_position_js;

    function initMap() {
        let pos = {
          lat: gon.lat_position_js, 
          lng: gon.lng_position_js};

          console.log(pos);

        var map = new google.maps.Map(document.getElementById('map'), {
          center: pos,
          zoom: 15
        });

        var infoWindow = new google.maps.InfoWindow({map: map});

        //マーカーの初期設定
        let marker = new google.maps.Marker({
          position: pos,
          map: map
        });

        
      };
      


</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDUJ7YNNwefaUIeD3iBHnIz7ls91TN-l8&callback=initMap">
    </script>