<div id="map"></div>

<div class="index-box">
  <dl>
    <dt>フリータイム</dt>
    <% start_time = @free_post.start_time.to_s.gsub(":00 +0900", "") %>
    <% end_time = @free_post.end_time.to_s.gsub(":00 +0900", "") %>
    <dd><%= start_time %> ~ <%= end_time %></dd>
  </dl>
  <dl>
    <dt>場所</dt>
    <dl><%= @free_post.place %></dl>
  </dl>
  <dl>
    <dt>詳細</dt>
    <dd><%= @free_post.detail %></dd>   
  </dl>
 
  <dl>
    <dt>開催者</dt>
    <dd> <%= link_to image_tag(@free_post.user.image.url(:thumb), class: "img-circle"), user_path(@free_post.user) %></dd>
    <dd><%= @free_post.user.user_name %></dd>   
  </dl>
  
</div>

<% if user_signed_in? %>
    <div class="form-group">
      <%= form_tag("/free_posts/#{@free_post.id}/comments", method: :post) do |comments| %>
        <div class="line-break comment-field"><%= text_area_tag :text, "", rows: "4", maxlength: 200, required: true, class: "form-control" %></div>
        <%= submit_tag "コメントを投稿", class: "btn btn-success"%>
      <% end %>
    </div>
  <% end %>


 <% if @comments %>
    <% @comments.each do |comment| %>
      <div class="each-comment line-break">
      <p><%= simple_format(comment.text) %></p>
      <p class="gray-text comment-foot"><%= link_to comment.user.user_name, user_path(comment.user) %>
      <%= comment.created_at %></p>
      </div>
    <% end %>
  <% end %>

<script>

gon.lat_position_js = +gon.lat_position_js;
gon.lng_position_js = +gon.lng_position_js;

    function initMap() {
        let pos = {
          lat: gon.lat_position_js, 
          lng: gon.lng_position_js};


        var map = new google.maps.Map(document.getElementById('map'), {
          center: pos,
          zoom: 15
        });

        var infoWindow = new google.maps.InfoWindow({map: map});

        //マーカーの初期設定
        let marker = new google.maps.Marker({
          position: pos,
          map: map
        });

        
      };
      


</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDUJ7YNNwefaUIeD3iBHnIz7ls91TN-l8&callback=initMap">
    </script>