<div class="navbar">

<div class="navbar-header">
  <%= link_to image_tag("LogoFactory.jpg", {height:100}), root_path %>  
</div>



<% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right tb-center">
    <li><%= link_to "マイページ", user_path(current_user), method: :get %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
 
<% end %>

<% unless user_signed_in? %>
  <ul class="nav navbar-nav navbar-right tb-center"> 
    <li><%= link_to "ログイン", "/users/sign_in" %></li>
    <li><%= link_to "ユーザー登録", new_user_registration_path, method: :get %></li>
  </div>

<% end %>

</div>


<div>
  <i class="fa fa-list-alt" aria-hidden="true"></i><%= link_to "フリータイム一覧", free_posts_path %>
  <i class="fa fa-users" aria-hidden="true"></i>
    <%= link_to "フォローユーザーの投稿一覧", relationships_path %>
  <i class="fa fa-pencil" aria-hidden="true"></i><%= link_to "フリータイムを投稿", new_free_post_path, method: :get %>
</div>
