<div>
  Free Meet!  
</div>

<% if user_signed_in? %>
  <%= link_to "マイページ", user_path(current_user), method: :get %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>

<% unless user_signed_in? %>
  <%= link_to "ログイン", "/users/sign_in" %>
  <%= link_to "ユーザー登録", new_user_registration_path, method: :get %>
<% end %>


<div>
  <%= link_to "フリータイムを投稿", new_free_post_path, method: :get %>
</div>

<%= link_to "フリータイム一覧", free_posts_path %>